{% extends "base.html" %}
{% load static %}

{% block title %}Единая база данных малого и среднего бизнеса Байзаксого района{% endblock title %}

{% block content %}


  <div class="row align-items-center">
    <div class="col-md-6">
      <h1 class="display-4">Единая база данных финансовых организаций</h1>
      <p class="lead my-4">
        Финансовый Справочник - это ваш надежный источник информации о различных финансовых организациях. Мы собираем и предоставляем подробные сведения о банках, страховых компаниях, инвестиционных фондах и других финансовых учреждениях, чтобы помочь вам принимать информированные решения.
      </p>
      <div class="d-flex flex-wrap">
        <div class="position-relative">
          <a href="{% url 'company_list' %}" class="btn btn-primary mr-3 mb-3">Существующие субъекты</a>
          <a href="{% url 'company_new' %}" class="btn btn-success mb-3 ">Добавить новый субъект бизнеса</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/SMEHomeImage_4.png' %}" class="img-fluid" alt="SMEHomeImage">
    </div>
  </div>


{% endblock content %}
